.waveform .form-control-wave {
	/* width: 300px; */
	position: relative;
	/* margin: 20px 0;
    margin-bottom: 40px; */
}

.waveform .form-control-wave label {
	position: absolute;
	top: 1px;
	left: 0;
}

.waveform .form-control-wave label span {
	display: inline-block;
	font-size: 20px;
	transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.waveform .form-control-wave .form-control input:focus + label span + ,
.waveform .form-control-wave .form-control input:valid + label span {
	color: cornflowerblue;
	transform: translateY(-30px);
}
